.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(315deg, rgba(255, 255, 255, 0) 0.00%,rgba(240, 70, 184, 0.3) 100.00%),linear-gradient(90deg, rgba(255, 255, 255, 0.42) 2.00%,rgba(255, 255, 255, 0.11) 100.00%),radial-gradient(circle at right top, rgb(255, 186, 223) 2.00%,rgb(255, 255, 255) 21.00%,rgb(255, 186, 223) 45.00%,rgb(255, 255, 255) 68.00%,rgb(255, 186, 223) 99.00%);
}
.page-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page-link {
  display: contents;
}
.page-text {
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
}
.page-frame26 {
  gap: 10px;
  width: 95px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.page-link1 {
  display: contents;
}
.page-vk-logo1 {
  width: 25.25px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.page-clippathgroup {
  top: -0.0020456835627555847px;
  left: 0.12059471011161804px;
  width: 25px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-vector {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.page-vector1 {
  top: 7.6054158210754395px;
  left: 4.216656684875488px;
  width: 17px;
  height: 10px;
  position: absolute;
}
.page-group11 {
  width: 25px;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-rectangle14 {
  top: 3px;
  left: 5px;
  width: 16px;
  height: 18px;
  position: absolute;
}
.page-link2 {
  display: contents;
}
.page-vector2 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  text-decoration: none;
}
.page-link3 {
  display: contents;
}
.page-vector3 {
  width: 25px;
  height: 25px;
  text-decoration: none;
}
.page-navlink {
  color: rgb(255, 255, 255);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-container2 {
  flex: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  margin-top: var(--dl-space-space-twounits);
  max-height: 450px;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.page-ul {
  gap: 350px;
  margin: 0px;
  display: flex;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.page-li {
  height: auto;
  padding-top: var(--dl-space-space-unit);
}
.page-text1 {
  color: rgb(255, 255, 255);
}
.page-image {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}
.page-li1 {
  height: auto;
  padding-top: var(--dl-space-space-unit);
}
.page-text2 {
  color: rgb(255, 255, 255);
}
.page-image1 {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}
